div id="carousel-example-generic" class="carousel slide"
  ol class="carousel-indicators hidden-xs"
    li data-target="#carousel-example-generic" data-slide-to="0" class="active"
    li data-target="#carousel-example-generic" data-slide-to="1"
    li data-target="#carousel-example-generic" data-slide-to="2"

  div class="carousel-inner"
    div class="item active"
      img src="#{image_path("logo.png")}" alt=""
    div class="item"
      img src="#{image_path("logo.png")}" alt=""
    div class="item"
      img src="#{image_path("logo.png")}" alt=""


  a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"
    span class="icon-prev"
  a class="right carousel-control" href="#carousel-example-generic" data-slide="next"
    span class="icon-next"

h1 Home#index
