doctype html
html
  head
    title Blog
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  body
    nav.navbar.navbar-default
      .collapse.navbar-collapse id="bs-example-navbar-collapse-1"
        ul.nav.navbar-nav
          li = link_to 'Home', root_url
        ul.nav.navbar-nav
          li = link_to 'Events', events_index_path
        ul.nav.navbar-nav
          li = link_to 'Groups', groups_index_path
        ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            li
              br Signed in as #{current_user.email}

            li  = link_to 'Log out', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out"
          - else
            li = link_to ' Sign up', new_user_registration_url, class: "glyphicon glyphicon-user"
            li = link_to ' Login', new_user_session_url, class: "glyphicon glyphicon-log-in"

    - if alert
      .alert.alert-danger
        = alert

    - if notice
      .alert.alert-info
        = notice
    img class="img-responsive img-full" src="#{image_path("logo.png")}" alt=""
    .container
      = yield
